-
  const menuItems = [
    { title: "О нас", link: "#team" },
    { title: "Наши ценности", link: "#values", active: true },
    { title: "Вакансии", link: "#vacancies" },
    { title: "Начало карьеры", link: "#students" },
    { title: "Контакты", link: "#contacts" }
  ];
-
  const navigationSocials = [
    { title: "Вконтакте", link: "#", width: 20, height: 10, icon: "#icon-vk"},
    { title: "Одноклассники", link: "#", width: 11, height: 18, icon: "#icon-ok" },
    { title: "Фэйсбук", link: "#", width: 9, height: 17, icon: "#icon-fb" },
    { title: "Инстаграм", link: "#", width: 15, height: 15, icon: "#icon-inst" }
  ];

header.header
  .header__top
    .header__top-wrapper
      .header__logo
        a(href="#")
          include ../../assets/images/logo.svg

      nav.header__navigation.navigation.navigation--closed
        button.navigation__toggle-button
          p.visually-hidden Показать или скрыть меню
        .navigation__wrapper
          ul.navigation__menu.menu
            each item in menuItems
              li(class=`menu-item ${item.active ? " menu-item--active" : ""}`)
                a.menu-item-link(href=item.link)= item.title
            li.menu-item.navigation__dropdown.dropdown
              button.dropdown__show-button Социальные сети
              .dropdown__wrapper
                ul.navigation__socials.socials
                  each social in navigationSocials
                    li.social
                      a.social-link(href=social.link)
                        p.visually-hidden= social.title
                        svg(class="social-icon" width=social.width height=social.height)
                          use(xlink:href=social.icon)
                    //- миксины и require не работают вместе, это баг pug-loader

  .header__content
    h1.header__title Энергия твоего роста! – заряжаем твою карьеру
    picture.header__images
      source(
        class="lazy"
        media="(max-width: 768px)"
        srcset=require("../../assets/images/bg-header-mobile-blur.png")
        data-src=require("../../assets/images/bg-header-mobile.png")
        alt="Изображение сотрудников компании"
      )
      source(
        class="lazy"
        media="(max-width: 1120px)"
        srcset=require("../../assets/images/bg-header-tablet-blur.png")
        data-src=require("../../assets/images/bg-header-tablet.png")
        alt="Изображение сотрудников компании"
      )
      img.header__image.header__image--first(
        class="lazy"
        src=require("../../assets/images/bg-header-desktop-blur.png")
        data-src=require("../../assets/images/bg-header-desktop.png")
        alt="Изображение сотрудников компании"
      )
    button.team-part-button.modal-open-button
      span Cтать частью команды
