-
  const menuItems = [
    { title: "О нас", link: "#" },
    { title: "Наши ценности", link: "#", active: true },
    { title: "Вакансии", link: "#" },
    { title: "Начало карьеры", link: "#" },
    { title: "Контакты", link: "#" }
  ];
-
  const socials = [
    { title: "Вконтакте", link: "#"},
    { title: "Одноклассники", link: "#" },
    { title: "Фэйсбук", link: "#" },
    { title: "Инстаграм", link: "#" }
  ];

header.header
  .header__top
    .header__top-wrapper
      .header__logo
        include ../../assets/images/logo.svg
      nav.header__navigation.navigation.navigation--closed
        button.navigation__toggle-button
        .navigation__wrapper
          ul.navigation__menu.menu
            each item in menuItems
              li.item.menu-item
                a.menu-item-link(href=item.link)= item.title
          .navigation__dropdown.dropdown
            button.dropdown__show-button Социальные сети
            .dropdown__wrapper
              ul.navigation__socials.socials
                  li.social
                    a.social-link(href="#")= Вконтакте
                      include ../../assets/images/icon-vk.svg
                  li.social
                    a.social-link(href="#")= Одноклассники
                      include ../../assets/images/icon-ok.svg
                  li.social
                    a.social-link(href="#")= Фэйсбук
                      include ../../assets/images/icon-fb.svg
                  li.social
                    a.social-link(href="#")= Инстаграм
                      include ../../assets/images/icon-inst.svg

  .header__content
    h1.header__title Энергия твоего роста! – заряжаем твою карьеру
    picture.header__images
      source(
        media="(max-width: 768px)"
        srcset=require("../../assets/images/bg-header-mobile.png")
      )
      source(
        media="(max-width: 1120px)"
        srcset=require("../../assets/images/bg-header-tablet.png")
      )
      img.header__image.header__image--first(
        src=require("../../assets/images/bg-header-desktop.png")
      )
    button.team-part-button
      span.team-part-button-caption Cтать частью команды
