-
  const description = "Общего центра обслуживания. Современные технологии, проекты, рабочие группы"

.features
  .feautures__wrapper
    ul.features-list
      li.feature
        .feature-image
          svg(class="feature-icon" width="66" height="82")
            use(xlink:href="#progress")
        span.feature-title Развитие
        p.feature-description= description

      li.feature
        .feature-image
          svg(class="feature-icon" width="74" height="74")
            use(xlink:href="#education")
        span.feature-title Обучение
        p.feature-description= description

      li.feature
        .feature-image
          svg(class="feature-icon" width="68" height="68")
            use(xlink:href="#responsibility")
        span.feature-title Ответственность
        p.feature-description= description

      li.feature
        .feature-image
          svg(class="feature-icon" width="84" height="48")
            use(xlink:href="#dynamics")
        span.feature-title Динамика
        p.feature-description= description

      li.feature
        .feature-image
          svg(class="feature-icon" width="66" height="82")
            use(xlink:href="#comfort")
        span.feature-title Комфорт
        p.feature-description= description

      li.feature
        .feature-image
          svg(class="feature-icon" width="54" height="69")
            use(xlink:href="#reliability")
        span.feature-title Надежность
        p.feature-description= description

    ul.slides.features-list
      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="66" height="82")
            use(xlink:href="#progress")
        span.feature-title Развитие
        p.feature-description= description

      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="74" height="74")
            use(xlink:href="#education")
        span.feature-title Обучение
        p.feature-description= description

      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="68" height="68")
            use(xlink:href="#responsibility")
        span.feature-title Ответственность
        p.feature-description= description

      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="84" height="48")
            use(xlink:href="#dynamics")
        span.feature-title Динамика
        p.feature-description= description

      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="66" height="82")
            use(xlink:href="#comfort")
        span.feature-title Комфорт
        p.feature-description= description

      li.slide.feature
        .feature-image
          svg(class="feature-icon" width="54" height="69")
            use(xlink:href="#reliability")
        span.feature-title Надежность
        p.feature-description= description

    .features__bullets.slider-bullets
      button.features__bullet.slider-bullet
      button.features__bullet.slider-bullet
      button.features__bullet.slider-bullet
      button.features__bullet.slider-bullet
      button.features__bullet.slider-bullet
